
body {
    background-color: #fde5d4;
}
h1, h2, h3, h4 {
    color: #2c2c2c;
}
button, .stButton>button {
    background-color: #3385ff;
    color: white;
}
@media (max-width: 768px) {
    h1, h2, h3 {
        font-size: 1.2em;
    }
    .css-1v0mbdj, .css-1aehpvj {
        font-size: 0.9em;
    }
}
