body {
    background-color: #fdf4f4;
}

section.main > div {
    padding: 1rem;
}

h1 {
    font-size: 1.8rem;
}

.stButton > button {
    background-color: #ff6666;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
}
